<div class="container pt-5">
  <div class="row justify-content-sm-center pt-5">
      <div class="col-sm-6 shadow round pb-3">
        <h1 class="text-center pt-3 text-secondary">Form</h1>
          <form [formGroup]="form">
              <div class="form-group">
                <label class="col-form-label"><h5>Employee Name</h5></label>
                <input formControlName="ename" type="text" class="form-control">
                <small *ngIf="ename?.invalid && ename?.touched" class="text-danger">Employee Name is Required</small>
              </div>
              <div class="form-group">
                <label class="col-form-label"><h5>Gender</h5>
                <label for="male" >Male</label>
                <input type="radio" name="gender" id="male" value="male" formControlName="gender" (change)=" changeEventRadio($event)"> <br>
                <label for="female"  >Female</label>
                <input type="radio" name="gender" id="female" value="female" formControlName="gender" (change)=" changeEventRadio($event)"><br>
                <small *ngIf="this.radiotoggle" class="text-danger">Please Select anyone Gender</small>
              </label>
              </div>
              <div class="form-group">
                <label class="col-form-label"><h5>Hobies</h5></label><br>
                <label for="checkbox1">Cricket</label>
                <input type="checkbox" name="hoby" class="cbox" id="checkbox1" formControlName="hoby" value=Cricket (change)="changeEventCheckbox($event)" [checked]=""><br>
                <label for="checkbox2" >Singing</label>
                <input type="checkbox" name="hoby" class="cbox" id="checkbox2" formControlName="hoby" value=Singing (change)="changeEventCheckbox($event)" ><br>
                <label for="checkbox3" >Painting</label>
                <input type="checkbox" name="hoby" class="cbox" id="checkbox3" formControlName="hoby" value=Painting (change)="changeEventCheckbox($event)"  ><br>
                <label for="checkbox4" >Reading</label>
                <input type="checkbox" name="hoby" class="cbox" id="checkbox4" formControlName="hoby" value=Reading (change)="changeEventCheckbox($event)"  ><br>
                <label for="checkbox5" >Writing</label>
                <input type="checkbox" name="hoby" class="cbox" id="checkbox5" formControlName="hoby" value=Writing  (change)="changeEventCheckbox($event)" ><br>
                <small *ngIf="this.toggleBool" class="text-danger">Please Select anyone Hoby</small>
              </div>
              <div class="form-group">
                <label class="col-form-label"><h5>Date of Birth</h5></label>
                <input class="form-control" type="date" name="dob" formControlName="dob" (change)="date($event)">
                <small *ngIf="this.dateValid" class="text-danger">Enter a valid birthdate which is past date</small>
              </div>
              <div class="form-group">
                <label class="col-form-label"><h5>Description</h5></label>
                <textarea formControlName="Description" class="form-control" ></textarea>
                <small *ngIf="Description?.invalid && Description?.touched" class="text-danger">Description is Required(minimum length 10)</small>
              </div>
              <button (click)="submit()" [disabled]="form.invalid" type="button" class="btn btn-primary">Submit</button>
            </form>
      </div>
  </div>
</div>
